* {
  vertical-align: baseline;
  font-weight: inherit;
  font-family: inherit;
  font-style: inherit;
  font-size: 100%;
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0;
}
body{
  background: url('../pics/dark_tweed.png') repeat;
  color: #eff2c4;
}
.menu_bar{
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  font-family: 'Dancing Script', sans-serif;
  font-size: 1.4em;
  line-height: .9em;
  background-color:rgba(30, 30, 30, 0.9);
  z-index: 100;
}
.menu_bar .logo{
  position: relative;
  float: left;
  margin-left: 5px;
  font-family: 'Condiment', sans-serif;
  font-size: 8.2em;
  line-height: 1.6em;
  text-shadow: 5px 15px 5px #000;
  z-index: 100;
}
.menu_bar .description{
  position: relative;
  font-family: 'abril fatface', sans-serif;
  font-size: 1.2em;
  line-height: 2.3em;
  z-index: 99;
  left: -100px;
}
.menu_bar .nav{
  float: right;
  margin-right: 10px;
  height: 100%;
  opacity: 1;
}
.menu_bar .nav ul li{
  padding: 15px;
  list-style:none;
  float:left;
  color: #eff2c4;
}
.menu_bar .nav ul li:hover{
  background-color: #222;
  cursor: pointer;
  transition: all .15s
}
.container{
  width: inherit;
  text-align: center;
}
.hero{
  background-image: url('../pics/KJ12.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  margin: 0 auto;
  min-width: 815px;
  min-height: 315px;
  overflow: hidden;
}
.slider{
  position: relative;
  width: inherit;
  height: 200px;
  margin: 0 30px;
  text-align: center;
  color: #333;
  cursor: pointer;
  z-index: 2;
}
.slider img{
  position: relative;
  z-index: 1;
}
.offerings{
  width: inherit;
  height: 140px;
  margin: 0 auto 90px auto;
  padding: 40px 0 0 0;
}
.offerings .food{
  display: inline-block;
  width: 120px;
  height: 120px;
  margin: 0 5%;
  background: #333 url('../pics/fondue.png') no-repeat;
  border-radius: 60px;
  cursor: pointer;
  transition: .3s;
}
.offerings .food:hover{
  transition: .3s;
  transform: translate(0,-8px);
}
.offerings .wine{
  display: inline-block;
  width: 120px;
  height: 120px;
  margin: 0 5%;
  background: #333 url('../pics/wine.png') no-repeat;
  border-radius: 60px;
  cursor: pointer;
  transition: .3s;
}
.offerings .wine:hover {
  transition: .3s;
  transform: translate(0,-8px);
}
.offerings .beer{
  display: inline-block;
  width: 120px;
  height: 120px;
  margin: 0 5%;
  background: #333 url('../pics/beer.png') no-repeat;
  border-radius: 60px;
  cursor: pointer;
  transition: .3s;
}
.offerings .beer:hover {
  transition: .3s;
  transform: translate(0,-8px);
}
.view_port{
  width: 100%;
  height: 0;
  overflow: hidden;
  transition: 1s;
}
.map{
  width: 100%;
  height: 0;
  overflow: hidden;
  transition: 1s;
}
.contact_us{
  width: 100%;
  height: 0;
  background-color: #333;
  overflow: hidden;
  transition: 1s;
}
.footer{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  padding-top: 20px;
  text-align: center;
  font-family: 'Abril Fatface', sans-serif;
  font-size: 1.2em;
  background-color:rgba(30, 30, 30, 0.9);
  z-index: 100;
}